@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body { font-family: 'Yanone Kaffeesatz', 'Palatino Linotype', 'Droid Serif', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }

/* .remark-slide-content {
  font-size: 18px;
} 
*/

/* Block math */ 
.mjx-math {
    font-size: 110%;
}

/* Block math 
   Only this is unique to block (display) math
*/
.MJXc-display {
    font-size: 110% !important;
}


.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font150 {
  font-size: 150%;
}

.font180 {
  font-size: 180%;
}

.font200 {
  font-size: 200%;
}

.font250 {
  font-size: 250%;
}

.font300 {
  font-size: 300%;
}

.font400 {
  font-size: 400%;
}

.red {
  color: #f92672;
}

.cyan {
  color: #00FFFF;
}

.blue { color: blue;}

.green { color: green;}

a {
  text-decoration: underline;
}

.pull-left2 {
  float: left;
  width: 49%;
}
.pull-right2 {
  float: right;
  width: 49%;
}

h4 {
  font-size: 150%;
}

.largeFont {
  font-size: 160%;
}


.largerFont {
  font-size: 180%;
}